<h1>Créditos</h1>

<p>
    Esta práctica ha sido desarrollada por Jose Carlos Rodríguez Capilla.
    Se alojará en <a href="https://github.com/joseka22/Practica51">este repositorio GitHub</a>.
</p>

<img src="/images/foto.jpg" />

