<h1>Ayuda</h1>

<p>
    <strong>¿Qué es un quiz?</strong>
    <br>
    Un quiz es una pregunta que espera ser respondida. En este contexto, en el portal se podrán responder distintas preguntas,
    además de poder crear preguntas propias, añadir o solicitar pistas.
    <br>
    <strong>¿Cómo se responde?</strong>
    <br>
    Se responde a través de la página dedicada a quizzes, una vez estén creados.
    <br>
    <strong>¿Cuál es el objetivo del portal?</strong>
    <br>
    el objetivo del portal no es otro que el de crear un portal con fines educativos,
    para que el alumno (yo) aprenda unas ciertas nociones de aplicaciones de servidor.
    <br>
</p>


